<h2>Books</h2>
  <table class="table table-hover table-inverse">
    <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th colspan="3"></th>
      </tr>
    </thead>

<% books.each do |book| %>
          <tbody>
            <tr>
              <td>
                <!--ユーザー詳細へ-->
                <%= link_to user_path(book.user.id) do %>
                <%= image_tag book.user.get_profile_image, size:'80x80' %>
                
               <!--bookに紐づいたuserのレコードをuserモデルが取り出しuserモデルのインスタンス(取り出した1行レコード)として取得する。-->
               <!--userモデルのインスタンスについてインスタンスメソッド？であるget_profile_imageを呼び出し？-->
                <% end %>
              </td>

              <td>
                <!--タイトルブック詳細へ-->
                <%= link_to book_path(book.id) do %>
                  <%= book.title %>
                <% end %>
              </td>

              <td>

                <%= book.body %>
              </td>


               <td>
                  <% if book.favorited_by?(current_user) %>
                    <%= link_to book_favorites_path(book), method: :delete do %>
                      <p style="color:#e54747">
                        <i class="fas fa-heart" ></i>
                        <%= book.favorites.count%>
                      </p>
                    <% end %>
                  <% else %>
                    <%= link_to book_favorites_path(book), method: :post do %>
                      <i class="fas fa-heart"></i>
                      <%= book.favorites.count %>
                    <% end %>
                  <% end %>
                </td>
                <td>
                  <p>コメント数<%= book.book_comments.count %></p>
                </td>
            </tr>
          </tbody>
        <% end %>
      </table>