


<div class="container px-5 px-sm-0">
  <div class="row">
    <div class="col-md-3">
      <!--ユーザー情報-->
      <%= render 'users/userinfo', user: @book.user %>
      <!--投稿-->
      <%= render 'form', book: @book_new %>
    </div>
    
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table table-hover table-inverse">
        <thead>
          <tr>
            <th></th>
            <th>Title</th>
            <th>Opinion</th>
            <th colspan="3"></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@book.user) do %>
                <%= image_tag @book.user.get_profile_image(80,80) %><br/>
                <%= @book.user.name %>
              <% end %>
            </td>
            <td><%= link_to @book.title, book_path(@book) %></td>
            <td><%= @book.body %></td>
            <% if current_user == @book.user %>
              <td><%= link_to "Edit", edit_book_path(@book), class: 'btn btn-success' %></td>
              <td><%= link_to "Destroy", book_path(@book), method: :delete, class: 'btn btn-danger', data: { confirm: "削除してもよろしいですか？" } %></td>
            <% end %>
             </tbody>
          </table>
        </div>
      </div>
    </div>
            
            